# NestJS & TypeScript Build Artifacts
/dist
/build
/out
/tmp
.tscache
*.tsbuildinfo
tsconfig.tsbuildinfo

# Dependency Directories
/node_modules
/jspm_packages

# Package Manager Lock Files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Environment & Secrets
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.env

# Logs & Diagnostics
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Testing & Code Coverage
/coverage
/.nyc_output
/.jest
/e2e/screenshots
/e2e/videos

# Temp, Caches, & Uploads
.temp/
.tmp/
tmp/
.eslintcache
.prettiercache
/uploads/
/uploads-test/

# Prisma Specifics
/generated/prisma

# SQLite databases
*.db
*.db-journal

# IDEs & Code Editors
.vscode/
.idea/
*.iml
*.iws
*.ipr
*~
*.swp
*.swo

# Operating System Files
.DS_Store
.AppleDouble
.LSOverride
._*
planning.md
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk