# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://admin:admin@localhost:5433/pdflibrary?schema=public"

# JWT Auth Secret
JWT_SECRET="sua-chave-secreta-super-segura"

# Server Port
PORT=3000

# Bcrypt Salt rounds or salt string
BCRYPT_SALT=10
